{% extends "templateServicePage.html" %}


{% block head %}
<link rel="stylesheet" href=" {{ url_for('servicePage.static', filename='templateRequestStyle.css') }} ">
{% endblock %}

{% block content %}
<form method="post">
    <div>
        <label for="category" >{{ info.categoryTitle }}: </label>
        <select name="category">
            <option value="1">Категория 1</option>
            <option value="2">Категория 2</option>
            <option value="2">Категория 2</option>
        </select>
    </div>
    <div>
        <label for="decription">{{ info.descriptionTitle }}:</label>
        <textarea name="decription" placeholder="{{ info.descriptionTitle }}..." rows="5" cols="33"></textarea>
    </div>
    <div>
        <label for="fileUpload">Прикрепить файл:</label>
        <input type="file" id="fileUpload" name="fileUpload" multiple />
    </div>
    <button type="submit">Отправить</button>
</form>
{% endblock %}