{% extends "generalTemplate.html" %}

{% block generalHead %}
<link rel="stylesheet" href=" {{ url_for('servicePage.static', filename='servicePageStyle.css') }} ">
<link rel="stylesheet" href=" {{ url_for('servicePage.static', filename='contentNavigation/contentNavigationStyle.css') }} ">
<!-- Для дальнейших стилей -->
{% block head %}{% endblock %}
{% endblock %}

{% block generalContent %}
<nav id="content_navigation">
    <ul class="flex_row">
        <li class="menu_item">
            <div onclick=navToggleSubMenuContent(this) class="sub_menu_btn">
                <span class="{% if 'management' in request.path %}active{% endif %}">Управление</span>
                <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate">
            </div>
            <ul class="sub_menu">
                <li><a href="{{ url_for('servicePage.maintenanceRequestPage')}}" class="{% if 'maintenanceRequest' in request.path %}active{% endif %}">Заявка на обслуживание</a></li>
                <li><a href="{{ url_for('servicePage.incidentRequestPage')}}" class="{% if 'incidentRequest' in request.path %}active{% endif %}">Заявка об инциденте </a></li>
                <li><a href="{{ url_for('servicePage.workSchedulePage')}}" class="{% if 'workSchedulePage' in request.path %}active{% endif %}">Расписание работ</a></li>
                <li><a href="#">Результаты мониторинга</a></li>
                <li><a href="#">Управление доступом</a></li>
            </ul>
        </li>
        <li class="menu_item">
            <div onclick=navToggleSubMenuContent(this) class="sub_menu_btn">
                <span>Обработка заявок</span>
                <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate">
            </div>
        </li>
        <li class="menu_item">
            <div onclick=navToggleSubMenuContent(this) class="sub_menu_btn">
                <span>Оповещение</span>
                <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate">
            </div>
        </li>
        <li class="menu_item">
            <div onclick=navToggleSubMenuContent(this) class="sub_menu_btn">
                <span>Объекты РРЦОД и гос. ИС</span>
                <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate">
            </div>
        </li>
    </ul>
</nav>
<section class="content" style="--bg-image: url('{{ url_for('static', filename='img/bg.svg') }}');">
    {% block content %}{% endblock %}
</section>

<script src=" {{url_for('servicePage.static', filename='contentNavigation/serviceContentNavigation.js') }}"></script>
{% endblock %}