{% extends "./core/generalTemplate.html" %}

{% block generalHead %}
<link rel="stylesheet" href=" {{ url_for('static', filename='serviceStyle/servicePageStyle.css') }} ">
<!-- Для дальнейших стилей -->
{% block head %}{% endblock %}
{% endblock %}

{% block generalContent %}
<nav class="content_navigation">
    <ul class="flex_row">
        <li>Управление <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate"></li>
        <li>Обработка заявок <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate"></li>
        <li>Оповещение <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate"></li>
        <li>Объекты РРЦОД и гос. ИС <img src=" {{url_for('static', filename='img/arrowIcon.svg') }} " class="rotate"></li>
    </ul>
</nav>
<section class="content">
    {% block content %}{% endblock %}
</section>
{% endblock %}