/* Header */
header{
    background-color: var(--ligth-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 27px;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.company_info{
    font-size: 68px;
}
