.flex_row{
    display: flex;
    flex-direction: row;
}

input{
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    outline: none;
}

/* Секция поиска */
.search{
    background-color: var(--dark-blue);
    border: 3px solid black;
     padding: 14px 18px;
}

.search input{
    background-image: var(--search-icon);
    background-repeat: no-repeat;
    background-position: 9px; 
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 9px 0px 9px 40px;
}

/* Навигация по контенту */
.content_navigation{
    background-color: var(--main-color);
    padding: 9px 15px;
    border: 3px solid var(--dark-blue);
    border-top: none;
}

.content_navigation a{
    text-decoration: none;
    color: black;
}

.content_navigation ul{
    list-style-type: none;
    padding-left: 0px;
    gap: 15px;
}

.content_navigation .active{
    text-decoration: underline;
}

/* Контент */
.content{
    padding: 23px 18px;
}