#site_navigation{
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    width: 350px;
    overflow: hidden;
    transition: .2s;
    /* Чтобы приклеить */
    height: 100vh;
    position: sticky;
    top: 0px;
    align-self: start;
}

/* Сброс стилей */
#site_navigation ul {
    list-style: none;
    padding-left: 0;
}

#site_navigation button{
    border: none;
    background: none;
}

#site_navigation button,
#site_navigation .sub_menu_btn{
    cursor: pointer;
}

#site_navigation svg {
    flex-shrink: 0;
}

/* Расстояние между кнопками */
#site_navigation ul li{
    padding-bottom: 18px;
}

/* Дизайн кнопок */
#site_navigation .sub_menu_btn {    
    display: flex;
    align-items: center;
    gap: 18px;
    border-radius: 4px;
    text-decoration: none;
    color: var( --dark-blue);
    white-space: nowrap;
    background-color: var(--ligth-blue);
    padding: 7px;
}

#site_navigation .isShow{
    color: white;
    font-weight: bold;
    background-color: var(--dark-blue);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Класс для прокрутки кнопки */
.sub_menu_btn img[src*="arrowIcon"] {
    margin-left: auto;
    transition: 0.5s;
}

#site_navigation .rotate{
    transform: rotate(-180deg); 
}

/* Класс для закртытого sidebar */
#site_navigation.close{
    width: 65px;
}

/* Приколы с dropdown меню для transition
потому что ни display: none ни visible: hidden его не поддерживают */
#site_navigation .sub_menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.4s;

    > div{
        overflow: hidden;
        background-color: var(--expanded-list);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

#site_navigation .sub_menu.show{
    grid-template-rows: 1fr;
}

/* Дизайн dropdown */
#site_navigation .sub_menu li,
#site_navigation .sub_menu a{
    white-space: nowrap;
    color: white;
    font-size: 14px;
    padding: 0;
    text-decoration: none;    
}

#site_navigation .sub_menu li{
    margin-bottom: 16px;
    margin-left: 8px;
}

#site_navigation .sub_menu li:first-child{
    margin-top: 16px;
}

/* Стлити для svg и bg если пользователь находиться на нужной секции */
#site_navigation svg.active{
    fill: white;
}

#site_navigation .sub_menu_btn.active{
    background-color: var(--dark-blue);
    color: white;
}

/* На нужной странице */
#site_navigation .sub_menu .active{
    text-decoration: underline;
}