/* Колонка для всей формы + отступы */
form,
form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 27px;
}

form div{
    gap: 18px;
}

/* Выбор категорий */
form select{
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    min-width: 370px;
    background-color: var(--clickable-color);
}

/* TODO Смена цвета при наведении на option */

/* Textarea */
form textarea{
    padding: 11px 17px;
    border-radius: 4px;
    border: 3px solid var(--dark-blue);
    background-color: var(--main-color);
}

form button{
    border: none;
    padding: 11px 30px;
    border-radius: 4px;
    background-color: var(--clickable-color);

    transition: all 0.3s;
}

form button:hover{
    background-color: var(--clickable-color-hover);
}