/* TODO Смена цвета при наведении на option */
*{
    --delete-btn: #F56A6A
}

/* Колонка для всей формы + отступы */
form,
form div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 27px;
}

form div{
    gap: 18px;
}

/* Выбор категорий */
form select{
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    min-width: 370px;
    background-color: var(--clickable-color);
}

form textarea,
form input[type="text"],
form input[type="date"]{
    padding: 11px 17px;
    border-radius: 4px;
    border: 3px solid var(--dark-blue);
    background-color: var(--main-color);
}

/* Для файлов */
form input[type="file"]{
    display: none;
}

form .wrapper_file_uploader > label{
    background-color: var(--clickable-color);
    padding: 15px 20px 15px 40px;
    border-radius: 4px;
    font-size: 16px;

    /* Картинка вставляется в templateRequestPage.html */
    background-image: var(--file-icon);
    background-repeat: no-repeat;
    background-position: 10px center;

    transition: all 0.3s;
}

form .wrapper_file_uploader .file_item_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

form .wrapper_file_uploader .file_item_wrapper span{
    width: 200px;
    min-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

form .wrapper_file_uploader .delete_file{
    background-color: var(--delete-btn);
    padding: 2px 8px;
}


/* Кнопка  */
form button{
    border: none;
    padding: 11px 30px;
    border-radius: 4px;
    background-color: var(--clickable-color);

    transition: all 0.3s;
}

form button:hover,
form .wrapper_file_uploader > label:hover{
    background-color: var(--clickable-color-hover);
}

/* Контейнер для красивого вывода начала и конца даты */
form .date_input_wrapper{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}