/* Навигация по странице */
.content_navigation{
    background-color: var(--dark-blue);
    padding: 8px;
    border: 3px solid black;
}

.content_navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
    gap: 100px;
    margin: 0px;
}

.content_navigation ul li{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.content_navigation img{
    rotate: 180deg;
}

/* Отступы длля контента */
.content{
    padding: 23px 0px 0px 27px;
}