{% extends "./core/generalTemplate.html" %}

{% block generalHead %}
<link rel="stylesheet" href=" {{ url_for('static', filename='./mainPageStyle/mainPageStyle.css') }} "> 
<!-- Для дальнейших стилей -->
{% block head %}{% endblock %}
{% endblock %}

{% block generalContent %}
<section class="search">
    <form action="">
        <input type="text">
    </form>
</section>
<nav class="content_navigation">
    <ul class="flex_row">
        <li><a href="/currentTask" class="{% if request.path == '/currentTask'%} active {% endif %} ">Текущие задачи</a></li>
        <li><a href="#">Выполненые задачи</a></li>
        <li><a href="/createTask" class="{% if request.path == '/createTask'%} active {% endif %} "}">Направить задачу</a></li>
        <li><a href="/submittedTask" class="{% if request.path == '/submittedTask'%} active {% endif %} "}">Отправленные заявки</a></li>
    </ul>
</nav>
<section class="content">
    {% block content %}{% endblock %}
</section>
{% endblock %}